<header class="header">
    <div class="logo" id="magicallyLogo">
        <a href="#">AcmeCo
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_243_1008)">
                <rect width="50" height="50" rx="14.6341" fill="#3D3D3D"/>
                <g clip-path="url(#clip1_243_1008)">
                <path d="M24.6155 8.07715L40.3847 35.0002L3.84625 60.7695L-0.384521 26.1541L24.6155 8.07715Z" fill="url(#paint0_linear_243_1008)"/>
                <path d="M-0.384652 26.1541L24.6154 8.07715L16.5384 32.3079L25.3846 34.6156L-3.84619 54.231L-0.384652 26.1541Z" fill="url(#paint1_linear_243_1008)"/>
                <path d="M-0.384705 26.1541L24.6153 8.07715L16.5384 32.3079L11.5384 33.8464L-17.6924 53.4618L-0.384705 26.1541Z" fill="url(#paint2_linear_243_1008)"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M40.5409 34.8078L24.8858 7.69238L9.23071 34.8078H25.7424C23.6458 33.8268 22.1935 31.6984 22.1935 29.2308C22.1935 25.8322 24.9486 23.077 28.3473 23.077C31.746 23.077 34.5012 25.8322 34.5012 29.2308C34.5012 31.6984 33.0488 33.8268 30.9523 34.8078H40.5409Z" fill="white"/>
                </g>
                </g>
                <defs>
                <linearGradient id="paint0_linear_243_1008" x1="52.6473" y1="113.05" x2="-18.1977" y2="108.752" gradientUnits="userSpaceOnUse">
                <stop stop-color="#3D1367"/>
                <stop offset="0.265625" stop-color="#FF6745"/>
                <stop offset="0.541667" stop-color="#C90BF9"/>
                <stop offset="0.838542" stop-color="#3F2E50"/>
                </linearGradient>
                <linearGradient id="paint1_linear_243_1008" x1="34.1766" y1="100.024" x2="-16.6794" y2="97.4987" gradientUnits="userSpaceOnUse">
                <stop stop-color="#3D1367"/>
                <stop offset="0.265625" stop-color="#FF6745"/>
                <stop offset="0.541667" stop-color="#C90BF9"/>
                <stop offset="0.838542" stop-color="#3F2E50"/>
                </linearGradient>
                <linearGradient id="paint2_linear_243_1008" x1="37.3406" y1="95.4269" x2="-21.8618" y2="77.543" gradientUnits="userSpaceOnUse">
                <stop stop-color="#3D1367"/>
                <stop offset="0.265625" stop-color="#FF6745"/>
                <stop offset="0.541667" stop-color="#C90BF9"/>
                <stop offset="0.838542" stop-color="#3F2E50"/>
                </linearGradient>
                <clipPath id="clip0_243_1008">
                <rect width="50" height="50" rx="14.6341" fill="white"/>
                </clipPath>
                <clipPath id="clip1_243_1008">
                <rect width="50" height="50" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                
        </a>
    </div>
    <!-- Left Navigation Bar -->
    <nav>
        <ul>
            <li id="integrationsPage">
                <a  href="#" alt="Integrations">Integrations
                    <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.8179 17.2926C18.725 17.1996 18.6148 17.1258 18.4934 17.0755C18.372 17.0252 18.2418 16.9993 18.1104 16.9993C17.979 16.9993 17.8489 17.0252 17.7275 17.0755C17.6061 17.1258 17.4958 17.1996 17.4029 17.2926L15.1104 19.5863L12.5242 17.0001L14.8179 14.7076C15.0056 14.5199 15.111 14.2654 15.111 14.0001C15.111 13.7347 15.0056 13.4802 14.8179 13.2926C14.6303 13.1049 14.3758 12.9995 14.1104 12.9995C13.8451 12.9995 13.5906 13.1049 13.4029 13.2926L11.1104 15.5863L8.81792 13.2926C8.63028 13.1049 8.37578 12.9995 8.11042 12.9995C7.84506 12.9995 7.59056 13.1049 7.40292 13.2926C7.21528 13.4802 7.10986 13.7347 7.10986 14.0001C7.10986 14.2654 7.21528 14.5199 7.40292 14.7076L8.19667 15.5001L5.28167 18.4138C4.91014 18.7852 4.61542 19.2262 4.41434 19.7116C4.21327 20.197 4.10977 20.7172 4.10977 21.2426C4.10977 21.7679 4.21327 22.2881 4.41434 22.7735C4.61542 23.2589 4.91014 23.6999 5.28167 24.0713L5.95417 24.7426L2.40292 28.2926C2.31001 28.3855 2.23631 28.4958 2.18603 28.6172C2.13574 28.7386 2.10986 28.8687 2.10986 29.0001C2.10986 29.1314 2.13574 29.2616 2.18603 29.3829C2.23631 29.5043 2.31001 29.6146 2.40292 29.7076C2.59056 29.8952 2.84506 30.0006 3.11042 30.0006C3.24181 30.0006 3.37192 29.9747 3.49332 29.9244C3.61471 29.8742 3.72501 29.8005 3.81792 29.7076L7.36792 26.1563L8.03917 26.8288C8.41062 27.2003 8.85161 27.4951 9.33697 27.6961C9.82234 27.8972 10.3426 28.0007 10.8679 28.0007C11.3933 28.0007 11.9135 27.8972 12.3989 27.6961C12.8842 27.4951 13.3252 27.2003 13.6967 26.8288L16.6104 23.9138L17.4029 24.7076C17.4958 24.8005 17.6061 24.8742 17.7275 24.9244C17.8489 24.9747 17.979 25.0006 18.1104 25.0006C18.2418 25.0006 18.3719 24.9747 18.4933 24.9244C18.6147 24.8742 18.725 24.8005 18.8179 24.7076C18.9108 24.6146 18.9845 24.5043 19.0348 24.3829C19.0851 24.2616 19.111 24.1314 19.111 24.0001C19.111 23.8687 19.0851 23.7386 19.0348 23.6172C18.9845 23.4958 18.9108 23.3855 18.8179 23.2926L16.5242 21.0001L18.8179 18.7076C18.9109 18.6147 18.9847 18.5044 19.035 18.383C19.0853 18.2616 19.1112 18.1315 19.1112 18.0001C19.1112 17.8686 19.0853 17.7385 19.035 17.6171C18.9847 17.4957 18.9109 17.3854 18.8179 17.2926ZM12.2817 25.4176C11.9066 25.7923 11.3981 26.0029 10.8679 26.0029C10.3377 26.0029 9.8292 25.7923 9.45417 25.4176L6.69667 22.6563C6.32188 22.2813 6.11135 21.7728 6.11135 21.2426C6.11135 20.7123 6.32188 20.2038 6.69667 19.8288L9.61042 16.9138L15.1967 22.5001L12.2817 25.4176ZM29.8179 2.29255C29.725 2.19958 29.6148 2.12582 29.4934 2.07549C29.372 2.02517 29.2418 1.99927 29.1104 1.99927C28.979 1.99927 28.8489 2.02517 28.7275 2.07549C28.6061 2.12582 28.4958 2.19958 28.4029 2.29255L24.8529 5.8438L24.1817 5.1713C23.4307 4.42249 22.4134 4.00199 21.3529 4.00199C20.2924 4.00199 19.2752 4.42249 18.5242 5.1713L15.6104 8.0863L14.8179 7.29255C14.6303 7.10491 14.3758 6.9995 14.1104 6.9995C13.8451 6.9995 13.5906 7.10491 13.4029 7.29255C13.2153 7.4802 13.1099 7.73469 13.1099 8.00005C13.1099 8.26542 13.2153 8.51991 13.4029 8.70755L23.4029 18.7076C23.4958 18.8005 23.6061 18.8742 23.7275 18.9244C23.8489 18.9747 23.979 19.0006 24.1104 19.0006C24.2418 19.0006 24.3719 18.9747 24.4933 18.9244C24.6147 18.8742 24.725 18.8005 24.8179 18.7076C24.9108 18.6146 24.9845 18.5043 25.0348 18.3829C25.0851 18.2616 25.111 18.1314 25.111 18.0001C25.111 17.8687 25.0851 17.7386 25.0348 17.6172C24.9845 17.4958 24.9108 17.3855 24.8179 17.2926L24.0242 16.5001L26.9392 13.5863C27.3107 13.2149 27.6054 12.7739 27.8065 12.2885C28.0076 11.8031 28.1111 11.2829 28.1111 10.7576C28.1111 10.2322 28.0076 9.71197 27.8065 9.22661C27.6054 8.74125 27.3107 8.30025 26.9392 7.9288L26.2667 7.25755L29.8179 3.70755C29.9109 3.61468 29.9847 3.50439 30.035 3.38299C30.0853 3.2616 30.1112 3.13147 30.1112 3.00005C30.1112 2.86864 30.0853 2.73851 30.035 2.61711C29.9847 2.49572 29.9109 2.38543 29.8179 2.29255ZM25.5242 12.1676L22.6104 15.0863L17.0242 9.50005L19.9392 6.5863C20.3142 6.21151 20.8227 6.00098 21.3529 6.00098C21.8831 6.00098 22.3916 6.21151 22.7667 6.5863L25.5242 9.3363C25.7109 9.52214 25.859 9.74303 25.9601 9.98629C26.0612 10.2295 26.1133 10.4904 26.1133 10.7538C26.1133 11.0172 26.0612 11.2781 25.9601 11.5213C25.859 11.7646 25.7109 11.9855 25.5242 12.1713V12.1676Z" fill="black"/>
                    </svg>                        
                </a>
                <p class="tooltip">Integrations</p>
            </li>
        </ul>
    </nav>
</header>
