<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Integrations', javascriptFiles: ['https://cdn.runalloy.com/scripts/embedded.js'] }) %>
  <body>
    <div class="grid integrations">
      <%- include('partials/header.ejs') %>
      <aside>
        <div>
          <h4>Integrations</h4>
          <ul>
            <li><a href="#" class="selected">All Integrations</a></li>
            <li><a href="#">Featured</a></li>
            <li><a href="#">Popular</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </div>
        <div>
          <h4>Categories</h4>
          <ul>
            <li><a href="#" class="selected">All Categories</a></li>
            <li><a href="#">Email & SMS</a></li>
            <li><a href="#">Customer Service</a></li>
            <li><a href="#">Analytics</a></li>
            <li><a href="#">Automation</a></li>
          </ul>
        </div>
      </aside>
      <div class="list">
        <div class="listing-description">
          <div>
            <h1>Integrations</h1>
            <p>Select and connect tools you use to integrate with your workflow</p>
          </div>
          <div class="toggle-view">
            <button onclick="toggleView('list')"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.7524 12C21.7524 12.1989 21.6734 12.3897 21.5328 12.5303C21.3921 12.671 21.2014 12.75 21.0024 12.75H4.50244C4.30353 12.75 4.11276 12.671 3.97211 12.5303C3.83146 12.3897 3.75244 12.1989 3.75244 12C3.75244 11.8011 3.83146 11.6103 3.97211 11.4697C4.11276 11.329 4.30353 11.25 4.50244 11.25H21.0024C21.2014 11.25 21.3921 11.329 21.5328 11.4697C21.6734 11.6103 21.7524 11.8011 21.7524 12ZM4.50244 6.75H21.0024C21.2014 6.75 21.3921 6.67098 21.5328 6.53033C21.6734 6.38968 21.7524 6.19891 21.7524 6C21.7524 5.80109 21.6734 5.61032 21.5328 5.46967C21.3921 5.32902 21.2014 5.25 21.0024 5.25H4.50244C4.30353 5.25 4.11276 5.32902 3.97211 5.46967C3.83146 5.61032 3.75244 5.80109 3.75244 6C3.75244 6.19891 3.83146 6.38968 3.97211 6.53033C4.11276 6.67098 4.30353 6.75 4.50244 6.75ZM21.0024 17.25H4.50244C4.30353 17.25 4.11276 17.329 3.97211 17.4697C3.83146 17.6103 3.75244 17.8011 3.75244 18C3.75244 18.1989 3.83146 18.3897 3.97211 18.5303C4.11276 18.671 4.30353 18.75 4.50244 18.75H21.0024C21.2014 18.75 21.3921 18.671 21.5328 18.5303C21.6734 18.3897 21.7524 18.1989 21.7524 18C21.7524 17.8011 21.6734 17.6103 21.5328 17.4697C21.3921 17.329 21.2014 17.25 21.0024 17.25Z" fill="black"/>
              </svg>
              
              
              </button>
            <button onclick="toggleView('grid')"><svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.89648 3.75H5.39648C4.99866 3.75 4.61713 3.90804 4.33582 4.18934C4.05452 4.47064 3.89648 4.85218 3.89648 5.25V9.75C3.89648 10.1478 4.05452 10.5294 4.33582 10.8107C4.61713 11.092 4.99866 11.25 5.39648 11.25H9.89648C10.2943 11.25 10.6758 11.092 10.9571 10.8107C11.2384 10.5294 11.3965 10.1478 11.3965 9.75V5.25C11.3965 4.85218 11.2384 4.47064 10.9571 4.18934C10.6758 3.90804 10.2943 3.75 9.89648 3.75ZM9.89648 9.75H5.39648V5.25H9.89648V9.75ZM18.8965 3.75H14.3965C13.9987 3.75 13.6171 3.90804 13.3358 4.18934C13.0545 4.47064 12.8965 4.85218 12.8965 5.25V9.75C12.8965 10.1478 13.0545 10.5294 13.3358 10.8107C13.6171 11.092 13.9987 11.25 14.3965 11.25H18.8965C19.2943 11.25 19.6758 11.092 19.9571 10.8107C20.2384 10.5294 20.3965 10.1478 20.3965 9.75V5.25C20.3965 4.85218 20.2384 4.47064 19.9571 4.18934C19.6758 3.90804 19.2943 3.75 18.8965 3.75ZM18.8965 9.75H14.3965V5.25H18.8965V9.75ZM9.89648 12.75H5.39648C4.99866 12.75 4.61713 12.908 4.33582 13.1893C4.05452 13.4706 3.89648 13.8522 3.89648 14.25V18.75C3.89648 19.1478 4.05452 19.5294 4.33582 19.8107C4.61713 20.092 4.99866 20.25 5.39648 20.25H9.89648C10.2943 20.25 10.6758 20.092 10.9571 19.8107C11.2384 19.5294 11.3965 19.1478 11.3965 18.75V14.25C11.3965 13.8522 11.2384 13.4706 10.9571 13.1893C10.6758 12.908 10.2943 12.75 9.89648 12.75ZM9.89648 18.75H5.39648V14.25H9.89648V18.75ZM18.8965 12.75H14.3965C13.9987 12.75 13.6171 12.908 13.3358 13.1893C13.0545 13.4706 12.8965 13.8522 12.8965 14.25V18.75C12.8965 19.1478 13.0545 19.5294 13.3358 19.8107C13.6171 20.092 13.9987 20.25 14.3965 20.25H18.8965C19.2943 20.25 19.6758 20.092 19.9571 19.8107C20.2384 19.5294 20.3965 19.1478 20.3965 18.75V14.25C20.3965 13.8522 20.2384 13.4706 19.9571 13.1893C19.6758 12.908 19.2943 12.75 18.8965 12.75ZM18.8965 18.75H14.3965V14.25H18.8965V18.75Z" fill="black"/>
              </svg>              
              </button>
          </div>
        </div>
        <div class="" id="integration-options">
          <!-- Workflows Modal -->
          <div id="workflowsModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h3>Select Workflows</h3>
              <p class="workflow-subtext">select all workflows for the demo to function</p>
              <div id="workflows-container"></div>
              <button id="connect-workflows">Connect Selected Workflows</button>
            </div>
          </div>
  
          <!-- The integration options will be added here -->
        </div>        
      </div>
    </div>

<script>window.magicallyToken = '<%= data.token %>'; </script>
    <script src="/scripts/integrations.js"></script>
  </body>
</html>